body{
    padding:0px;
    margin:0px;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    background-color:#FFF4EA;
}
h1{
    font-size: 3.5rem;
    margin-bottom: 30px;
    margin-top:0px;
    font-weight: bold;
}
h4{
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom:60px;
    margin-top:0;
}
.game-buttons{
    display: grid;
    width: fit-content;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    position: relative;
}
.game-buttons::before{
    content:"";
    height:460px;
    width:460px;
    border-radius: 50%;
    background-color: black;
    z-index: -2;
    position:absolute;
    top:-25px;
    left: -25px;
}
.btn{
    height: 200px;
    width: 200px;
    border:none;
    border-radius: 10%;
    /* position: relative; */
}
.start-reset{
    height:150px;
    width:150px;
    background-color: #db274b;
    border-radius: 50%;
    border:8px solid black;
    position:absolute;
    top: calc(50% - 75px);
    left:  calc(50% - 75px);
    font-size: 1.8rem;
    font-weight: 600;
    z-index:1;
}
.btn-1{
    /* margin-left: -40px; */
    background-color: #d95980;
    border-top-left-radius:200%;
}
.btn-2{
    background-color: #63aac0;
    border-top-right-radius: 200%;
}
.btn-3{
    background-color: #f99b45;
    border-bottom-left-radius: 200%;
}
.btn-4{
    background-color: #819ff9;
    border-bottom-right-radius: 200%;
}
.flash-button{
    background-color: white;
}
.bg-red{
    background-color: red;
}
.highestScore{
    font-size: 1.2rem;
    font-weight: bold;
    color: #e03f5f;
    position: absolute;
    top:30px;
    right:6%;
}

@media(max-width: 576px){
    .game-buttons::before{
        height: 340px;
        width: 340px;
        top:-15px;
        left: -15px;
    }
    .btn{
        height: 150px;
        width: 150px;
    }   
    .start-reset{
        height:120px;
        width:120px; 
        top: calc(50% - 60px);
        left:  calc(50% - 60px);
    }    
    .highestScore{
        right:auto;
        left: calc(50% - 67px);
    }
}